@import "~bootstrap-styles/bootstrap/variables";
@import "~bourbon-styles/bourbon";
@import "~breakpoint-styles/breakpoint";

@import "../common/config";
@import "../common/mixins";
@import "../common/fonts";

.dark-overlay {
    display: none;
    @include breakpoint-sm {
        display: block;
    }
}

.header-hero {
    display: block !important;
    top: 60px;

    @include breakpoint-sm {
        @include flex;
        height:302px;
        top: 108px;

        .hero-img img {
            width: 100%;
            height: unset;
        }
    }


}

.header-hero-image{
    position: relative;
}
.intro{
    background: $background-color;
    .container{
        padding: 60px 30px 69px;
        p{
            @extend %merlo-medium;
            color: $gray;
            margin: 0 auto;
            font-size: 15px;
            font-weight: normal;
            text-align: center;
            line-height: 1.6;
            text-rendering: geometricPrecision;
            @include breakpoint-sm{
                font-size:$font-size-xs-desktop;
                width: 80%;
            }
        }
        @include breakpoint-sm{
            padding: 130px 30px 100px;
        }
    }

}

.our-history, .sustainability{
    width: 100%;
    height: auto;
    min-height: 300px;
    position: relative;
    overflow: hidden;

    img{
        width: 100%;
        height: 100%;
        display: block;
    }

    .text-content{
        padding: 50px 30px 60px;
        position: relative;
        text-align: center;

        @include breakpoint-sm{
            padding: 0px 30px 0px;
        }

        h3{
            @extend %merlo-bold;
            font-size: $font-size-eyebrow;
            text-transform: uppercase;
            letter-spacing: 5px;
            color: $silver;
            margin-bottom: 30px;
        }

        h2{
            @extend %module-title-bourton;
            margin-bottom: 30px;
            color: $silver;
            width: 80%;
            margin-right: auto;
            margin-left: auto;

            @include breakpoint-sm{
                font-size:$font-size-sub-title;
            }
        }

        p{
            @extend %merlo-medium;

            color: $silver;
            font-weight: normal;
            font-size: 15px;
            margin-bottom: 50px;
            text-rendering: geometricPrecision;
        }

        a{
            width: 100%;
            height:40px;
            padding-top: 11px;
            padding-bottom: 11px;
            color:$mine-shaft;
            font-size:14px;
        }
    }

    @include breakpoint-sm{
        @include flex;
        align-items: center;
        height: auto;

        .image-wrapper {
            flex-basis: 50%;
            height: 100%;

			img {
				align-self: start;
				display: block;
				width: 100%;
			}
        }

        .text-content{
            width:50%;
            h2{
                width: 100%;
            }
            a{
                width:178px;
                height:50px;
                padding-top: 16px;
                padding-bottom: 16px;
                margin: 5px 0px;
                transition: all ease-out 0.2s;

                &:hover {
                    height: 60px;
                    width: 185px;
                    margin: 0px 0px;
                    padding: 21px 0px;
                }
            }
        }
    }
}

.sustainability{
    @include breakpoint-sm{
        flex-direction: row-reverse;
    }
}
.cards{
    background-color: $mercury;
    padding-top: 90px;
    .card{
        background-color: #fff;
        box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.05);
        width: 316px;
        text-align: center;
        margin-bottom: 30px;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;

        h3{
            font-family: $bourton;
            padding-bottom: 38px;
            padding-top: 42px;
            letter-spacing: -2.85px;
            margin:0px;
        }
        p{
            @extend %merlo-medium;
            color: $gray;
            font-weight: 100;
            font-size:15px;
            margin-right: 25px;
            margin-left: 25px;
        }
        a{
            @extend %merlo-medium;
            display: inline-block;
            text-decoration: none;
            text-transform: capitalize;
            position: relative;
            color: $alizarin;
            margin: 40px auto 33px;
            font-size:14px;

            &:after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                width: 100%;
                height: 2px;
                transform: scaleX(0);
                background-color: $alizarin;

                transition: transform 0.3s;
            }

            &:hover {
                &:after {
                    transform: scaleX(1);
                }
            }
        }
    }
    @include breakpoint-sm{
        padding-top: 150px;
        padding-bottom: 120px;
        .container{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .card{
                width: 350px;
            }
        }
        .container:before, .container:after{
            content:none;
        }
    }
}

.window {
	@include breakpoint-sm{
		max-height: 300px;
	}
}
