.home-carousel, .interior-carousel {
	position: fixed;
	width: 100vw;
	z-index: 0;
	height: fit-content;
	background: #fff;

	.container-fluid {
		padding: 0;
	}

	.slide {
		position: relative;

		@include breakpoint-sm {
			height: 100vh;
			overflow: hidden;
			text-align: center;
		}
	}

	.slide-background {
		position: relative;
		background-size: cover;
		width: 100%;
		height: 86.67vw;

		@include breakpoint-sm {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			height: 100%;
			width: 100%;
		}
	}

	.slide-overlay {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0, 0);
		z-index: 5;

		@include breakpoint-sm {
			display: block;
		}
	}

	.slide-content {
		position: relative;
    	padding-left: 30px;
		padding-right: 30px;
		margin: 50px auto;
		z-index: 200;
		background-color: $white;
		text-align: center;

		@include breakpoint-sm {
			display: flex;
			height: 100%;
			background-color: transparent;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			flex-grow: 0;
			padding: 30px 59px;
		}
	}

	.slide-title {
		@extend %marquee-title-bourton;
		margin-bottom: 30px;
		color: $black;
		text-transform: uppercase;
	}

	.slide-title br {
		display:none; 

		@include breakpoint-sm {
			display:block;
		}
	}

	.slide-main-title {	
		color: #333;

		@include breakpoint-sm {
			padding: 0 10px 20px;
			background-color: $alizarin;
			display: inline-block;
			color: $white;
		}
	}

	.slide-sub-title {
		
		padding: 2px 5px;

		@include breakpoint-sm {
			padding: 0 10px 20px;
			background-color: $alizarin;
			display: inline-block; 
			color: $school-bus;
		}
	}

	.slide-main-title span, .slide-sub-title span {
		position:relative; 
		top:-10px;
	}


	.slide-main-placeholder {	
		color:transparent;
		display: none; 
		@include breakpoint-sm {
			display:block;
			padding: 0 10px 20px;
			background-color: transparent;
			display: inline-block;
			color:transparent;
		}
	}

	.slide-sub-placeholder {
		display: none; 
		padding: 2px 5px;

		@include breakpoint-sm {
			display:block;
			padding: 0 10px 20px;
			background-color: transparent;
			display: inline-block; 
			color: transparent;
		}
	}

	.slide-main-placeholder span, .slide-sub-placeholder span {
		position:relative; 
		top:-10px;
	}



	.slide-cta {
		display: inline-block;
		transition: transform 0.2s ease-out;
		width: 100%;

		@include breakpoint-sm {
			width: auto;
		}

		&:hover {
			transform: scale(1.1);
		}
	}

	// slick carousel overrides
	.slick-prev:before,
	.slick-next:before {
		content: "";
	}
	.slick-prev {
		background-image: url("../../@imgs/arrow-left.svg");
		left: 78px;
	}
	.slick-next {
		background-image: url("../../@imgs/arrow-right.svg");
		right: 78px;
	}
	.slick-arrow {
		opacity: 1;
		height: 55px;
		width: 55px;
		background-size: cover;
		background-repeat: no-repeat;
		transition: all 400ms ease-in-out;
		transition-property: height, width, opacity;

		z-index: 1;

		&:hover {
			width: 60px;
			height: 60px;
		}
	}
	.slick-slider:hover {
		.slick-arrow {
			opacity: 1;
		}
	}
}

.home-carousel {
	top: 0;

	.slide-background {
		animation-name: kenburns;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		animation-duration: 40s;
		transform: scale(1);
		transform-origin: center bottom;

	}

	@keyframes kenburns {
		from {
			transform: scale(1);
			-ms-transform: scale(1); /* IE 9 */
			-webkit-transform: scale(1); /* Safari and Chrome */
			-o-transform: scale(1); /* Opera */
			-moz-transform: scale(1); /* Firefox */
		}
		to {
			transform: scale(1.3);
			-ms-transform: scale(1.3); /* IE 9 */
			-webkit-transform: scale(1.3); /* Safari and Chrome */
			-o-transform: scale(1.3); /* Opera */
			-moz-transform: scale(1.3); /* Firefox */
		}
	  }
}

.interior-carousel {
	top: 0;
	.slide {
		@include breakpoint-sm {
			min-height: 600px;
			height: 42.93vh;
		}
	}

	.slide-title {
		font-size: 72px;
		line-height: 60px;
		letter-spacing: -5px;
		margin-top: 0px;
	}

	.slide-background img {
		height: 100%;

		@media (min-width:1440px)   {
			width: 100%;
			height: unset; 
		}
	}
}

.window {
	height: 90vh;
	z-index: -5;
	max-height: 600px;
}

.recipe-list .window {
	@include breakpoint-sm {
		height:50vh;
	}

}

.background {
	background: $background_color;
	position: relative;
	z-index: 1;
}
