{% extends 'base.html' %}
{% load staticfiles %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/where-to-buy.css' %}">
{% endblock %}

{% block body_class %}where-to-buy{% endblock body_class %}

{% block content %}
    <div id="destini-locator" class="destini-locator" src="">
	    <script src="//destinilocators.com/missionfoods/site/install/"></script>
    </div>
{% endblock %}

{% block title %}Mission - {{ page.title }}{% endblock title %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'js/where-to-buy.js' %}" ></script>
{% endblock extra_js %}
