<div class="js-featured-products featured-products animation-scroll-activated animation-crossfade">
	<div class="featured-products-upper">
		<div class="featured-gradient"></div>
		<div class="container">
			<h3 class="featured-products-eyebrow">{{ homepage.eyebrow_title_product }}</h3>
			<h1 class="section-header">{{ homepage.featured_product_title }}</h1>
			<p class="featured-products-blurb">{{ homepage.featured_product_description }}</p>
		</div>
		<div class="featured-products-carousel-container">
			<div class="js-arrow-container arrow-container"></div>
			<div class="js-featured-products-carousel featured-products-carousel owl-carousel">
				{% for featured_product in featured_products %}
					<div
						class="featured-product carousel-item"
						data-initial="true"
						prod-url="{% url 'product-detail' featured_product.slug %}"
						prod-title="{{ featured_product.title }}"
						prod-cta="{{ featured_product.homepage_cta }}"
					>
						<a href="{% url 'product-detail' featured_product.slug %}">
							<img
								class="featured-product-image"
								src="{% if featured_product.image %}{{ featured_product.image.url	}}{% endif %}"
								alt="{{ featured_product.title }}"
							/>
						</a>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>

	<!-- related recipes carousel -->
	<div class="featured-products-lower">
		{# value is going to have to be set through js #}
		<div class="highlighted-product-info">
			<span class="featured-product-title">Mission Strips Tortilla Chips</span>
			<a class="featured-product-link" href="#">Learn More</a>
		</div>

		<div class="related-recipes">
			<div class="container px-0">
				<div class="related-recipes-title">
					<h3 class="related-recipes-header">Product Related Recipes</h3>
				</div>
				<div class="related-recipes-carousel js-related-recipes-carousel">
					{% for feat_product in featured_products %}
						<div class="related-recipe-items js-related-recipe-items">
							{% for recipe in feat_product.recipe_set.all|slice:":4" %} {% include "partials/recipe_card.html" %} {% endfor %}
						</div>
					{% endfor %}
				</div>
			</div>
		</div>

		<div class="btn-wrap">
			<a href="{% url 'all-products' %}" class="red-btn">View All Products</a>
			<a href="{% url 'all-recipes' %}" class="white-red-btn">View All Recipes</a>
		</div>
	</div>
</div>
