<script
    class="kxct"
    data-id="tzbz6fr15"
    data-timing="async"
    data-version="3.0"
    type="text/javascript"
>
    window.Krux ||
        ((Krux = function() {
            Krux.q.push(arguments);
        }).q = []);
    (function() {
        var k = document.createElement('script');
        k.type = 'text/javascript';
        k.async = true;
        k.src =
            (location.protocol === 'https:' ? 'https:' : 'http:') +
            '//cdn.krxd.net/controltag/tzbz6fr15.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(k, s);
    })();
</script>
