<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
    <defs>
        <style>
            .cls-1 {
                fill: #fff;
            }
        </style>
    </defs>
    <title>Asset 3</title>
    <g id="Layer_2_search-icon" data-name="Layer 2">
        <g id="Layer_1-2_search-icon" data-name="Layer 1">
            <path
                d="M7.72,2a5.71,5.71,0,1,1-4,9.74,5.71,5.71,0,0,1,0-8.07A5.7,5.7,0,0,1,7.72,2m0-2a7.71,7.71,0,1,0,5.46,2.26A7.7,7.7,0,0,0,7.72,0Z"
            />
            <rect
                class="cls-1"
                x="15.6"
                y="11.5"
                width="0.06"
                height="8.29"
                transform="translate(-6.48 15.63) rotate(-45)"
            />
            <polygon points="12.72 11.28 11.26 12.73 18.54 20 20 18.55 12.72 11.28 12.72 11.28" />
        </g>
    </g>
</svg>
